PORT=3000
MONGODB_URL=mongodb://kanoncuetcse11:nPcoftJsVq8gh8vE@ac-w5a41fl-shard-00-00.yywyodl.mongodb.net:27017,ac-w5a41fl-shard-00-01.yywyodl.mongodb.net:27017,ac-w5a41fl-shard-00-02.yywyodl.mongodb.net:27017/?ssl=true&replicaSet=atlas-vbmiyu-shard-0&authSource=admin&retryWrites=true&w=majority